@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700);
  * {
      box-sizing: border-box;
      }

      .row
      	  {
      	  content: "";
      	  display: table;
      	  clear: both;
      	  }
      	  .column_left{
      	  	float: left;
      	  	width: 50%;
      	  	padding: 20px;
      	  }
      	  .column_right{
      	  	float: right;
      	  	width: 50%;
      	  	padding: 20px;
      	  }
          .table_contents{
      	  	float: left;
      	  	width: 30%;
      	  	padding: 20px;
      	  }
          .main_page{
      	  	float: right;
      	  	width: 70%;
      	  	padding: 20px;
      	  }
<<<<<<< HEAD

=======
>>>>>>> 83e8d63723b2dda7ec0d8a998521e5808625e4a4
body {
  margin: 0;
  padding: 0;
  background: rgb(255, 233, 117);
	font-family: ubuntu;
}

header {
  display: flex;
  align-items: center;
  background: rgb(114, 243, 247);
}

header img {
  width: 50px;
  background: white;
  border-radius: 5px;
  margin: 0 20px 0 40px;
}

article{
  background: white;
  border: 3px solid #a0a0a0;
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
  font-family: ubuntu;
}

hr, article .date {
  color: #a0a0a0;
}
.vertical-menu {
  width: 200px auto;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}
header {
  display: flex;
  align-items: center;
  background: rgb(255, 226, 129);
}
body {
  margin: 0;
  padding: 0;
  background: rgb(145, 255, 255);
  font-family: ubuntu;
}
.vertical-menu {
  width: 200px;
  height: 130%;
  background-color: green;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #777;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}
.menu_left{
      	  	float: left;
      	  	width: 10%;
      	  	height: 1000px;
      	  	padding: 20px;
      	  }
.menu_right{
      	  	float: right;
      	  	width: 80%;
      	  	padding: 20px;
      	  }

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
<<<<<<< HEAD
th, td {
  padding: 15px;
=======
table
{
font-weight: normal;
font-size:19px;
>>>>>>> 83e8d63723b2dda7ec0d8a998521e5808625e4a4
}
